<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Type</th>
            <th>Name</th>
            <th>Title</th>
            <th>Phone</th>
            <th>Ext.</th>
            <th>Fax</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in [] | range:3 track by $index">
            <th>
                <eq-checkbox ng-model="p.checkbox"></eq-checkbox>
            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        </tbody>
    </table>
</div>
