
    <div class="dialog-header">
        <span class="title" ng-bind="$ctrl.title"></span>
        <span class="close-btn cursor pointer" ng-click="$ctrl.Cancel()"></span>
    </div>
    <div class="dialog-body">
        <form name="$ctrl.user" id="add-collection-form" class="smart-form" novalidate="novalidate">
            <section class="col-xs-12">
                <label class="input"
                       ng-class="{ 'state-error' : $ctrl.AddCat.categoryName.$invalid && $ctrl.AddCat.categoryName.$dirty, 'state-disabled':Disabled }">
                    <i class="icon-append animal-font horse-R"></i>
                    <input type="text" placeholder="Collection Name"
                           data-ng-disabled="$ctrl.Disabled"
                           name="categoryName"
                           ng-model="$ctrl.category.name" required>
                </label>
            </section>
            <section class="col-xs-12">
                <button type="reset" class="width-30 pull-left btn btn-sm" ng-click="$ctrl.Cancel()">
                    <span class="bigger-110">Cancel</span>
                </button>

                <button type="submit" class="width-30 pull-left btn btn-sm btn-primary"
                        data-ng-click="$ctrl.Create($event)">
                    <span class="bigger-110">Submit</span>
                </button>
            </section>
        </form>
    </div>


